/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

/*#region mode édition*/

a{
	text-decoration: none;
}
.headband{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	height: 50px;
	gap: 5px;
}

.headband a{
	text-decoration: none;
	color: white;
}

.project-edition{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.project-edition a{
	text-decoration: none;
	color: black;
}

.my-project-edition{
	margin-right: 20px;
}

/*#endregion*/

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.my-project-index {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

/*#contact*/

input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

/*#region filterButton*/

input[type="button"]{
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: white;
	height: 35px;
	text-align: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
}

.filter{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 40px 0;
}

.filter input[type="button"]{
	padding: 0 10px;
}

.filter input:hover{
	background-color: #1D6154;
	color: white;
}

/*#endregion*/

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*#region Modal */

.modal-container{
	display: none;
	/*display: flex;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	
	justify-content: center;
	align-items: center;
}

#modal-photo-gallery{
	display: none;
	/*display: flex;*/
	flex-direction: column;
	gap: 40px;
	align-items: center;
	width: 50%;
	max-width: 700px;
	height: 70%;
	max-height: 80%;
	background-color: rgba(255, 255, 255,1);
	border-radius: 10px;
	overflow-y: auto;
}

.gallery-container{
	height: 70%;
	width:80%;
	background-color: black;
	border-bottom: 2px solid grey;
	
}

#button-add-photo{
	background-color: #1D6154;
	color: white;
	width: 200px;
}

#modal-photo-gallery .icon-close{
	align-self: flex-end;
	margin-right: 20px;
	margin-top: 11px;
    font-size: 20px;
}

.modal-container h3{
	font-weight: 400;
	font-size: 26px;
}

.gallery-modal {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	height: 55%;
	overflow: auto;
}

.gallery-modal figure{
	max-height: 100px;
    max-width: 76px;
    position: relative;
}

.gallery-modal img{
	width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.underline{
    border-bottom: 1px solid #B3B3B3;
    height: 1px;
    width: 70%;
}

.delete-icon{
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*****************Modal add-photo******************************/

#modal-add-photo{
	display:none;
	/*display: flex;*/
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 50%;
	max-width: 700px;
	height: 70%;
	max-height: 80%;
	background-color: rgba(255, 255, 255,1);
	border-radius: 10px;
	overflow-y: auto;
}

.add-photo-container{
	background-color: #E8F1F6;
	border-radius: 3px;
	height: 30%;
	width: 60%;
}

.form-info-photo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-around;
	
}

.icon-add-photo{
	margin-top: 10px;
	font-size: 75px;
}

.form-add-photo{
    display: flex;
	flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
	gap: 20px;
}

#button-form-add-photo{
	background-color:#CBD6DC;
	color: #306685;
	border: none;
	height: 36px;
}

#modal-add-photo form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	gap: 15px;
}

#modal-add-photo label{
	font-size: 18px;
	font-weight: 500;
}

select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.underline-add-photo{
	border-bottom: 1px solid #B3B3B3;
	margin-top: 25px;
}

#button-validate-add-photo{
	margin-top: 10px;
	height: 36px;
	background-color: #A7A7A7;

}

#title-add-photo{
	margin-bottom: 10px;

}

.header-icon{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.header-icon i{
	margin: 0 20px;
	font-size: 20px;
}

.view-photo {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add-photo-container img{
	width: 40%;
	height: 100%;
	object-fit: contain;
}

/*#endregion*/

.login a{
	color: black;
}

.login a:hover {
	color: #B1663C;
}

.forgetPassword{
	text-decoration: underline;
}